<!-- <h1>Page {{ page_no }} - Introduction & Consent</h1> -->

<b>UNIVERSITY OF WASHINGTON CONSENT FORM</b>
<h2>Study of Conversational Survey Administration</h2>

<p>
  <b>Researchers: </b><br/>
  <i>Gary Hsieh, Human Centered Design & Engineering</i><br/>
  <i>Rafal Kocielnik, Human Centered Design & Engineering</i>
</p>

<p>
<b>Researchers' Statement: </b>
We are asking you to be in a research study. The purpose of this consent form is to give 
you the information you will need to help you decide whether to be in the study or not.  
Please read the form carefully. You can decide if you want to be in the study 
or not. This process is called "informed consent."
</p>

<p>
<b>Purpose of the Study: </b>
Prior work shows that conversational administration of surveys can be beneficial for user experience and answer quality. Our work explores what does it mean to adminster a survey in a conversational way. It explores specifically which design conversational aspects are beneficial and which are detrimental to user experience.
</p>

<p>
<b>Study Procedures: </b>
During the study you are asked to answer a short survey using a chatbot. It should take you less than 2 minutes. Some of the survey questions might be of sensitive nature and you are free to share only what you feel comfortable with by skipping the question.

After the chatbot interaction you will be asked to evaluate your overal experience and also to give more detailed feedback on selected aspects of the chat design. This part should take less than 5 minutes.
</p>

<p>
<b>Risks, Stress, or Discomfort: </b>
There are no specific risks associated with participation. You may skip the questions that you are uncomfortable with answering.
</p>

<p>
<b>Benefits of the Study: </b>
The goal of this study is to design a more effective survey tool. This may be broadly to better understand people’s needs, which can lead to better services. There is no direct benefit for participating in the study.
</p>

<p>
<b>Confidentiality of Research Information: </b>
All of the information you provide will be confidential.  
Government or university staff sometimes review studies such as this one to make sure they are being done safely and legally. If a review of this study takes place, your records may be examined. The reviewers will protect your privacy. The study records will not be used to put you at legal risk of harm.
</p>  

<p>
<b>Other Information</b>
You may refuse to participate and you are free to withdraw from this study at any time without penalty or loss of benefits to which you are otherwise entitled.
  
You will receive a $1.50 compensation for this HIT. This is on a $9/hour rate with the expectation you will spend less that 10 minutes on the study.  
</p>

<b>Subject’s statement: </b>
This study has been explained to me. By clicking <i><b>"Continue"</b></i> I volunteer to take part in this research. If I have questions later about the research, or if I have been harmed by participating in this study, I can contact one of the researchers. If I have questions about my rights as a research subject, I can call the Human Subjects Division at (206) 543-0098 or call collect at (206) 221-5940.