<style>
  .fa-edit {
    color: #ff0000;
    cursor:pointer;
    transition-duration: 0.5s;
    display:none;
  }

  .botui-container {
    background-color: #ffffff;
    border: 0px solid #e1e1ff;
    display: table;
    font-size: 18px;
  }

 .botui-app-container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-height: 900px;
    overflow: auto;
  }

  .botui-message-content {
    background: #E8E8E8;
    border-radius: 20px;
    font-family: Roboto;
    color: #333333;
    font-size: 14px;
  }

  .botui-message-content.human {
    background: #3676F4;
    border-radius: 20px;	
    font-family: Roboto;
    font-size: 14px;
    color: #ffffff;
  }

  .botui-message-content.human.text {
    display: inline-block;
  }
  
  .highlight-badge {
    columns: #333333;
    background-color: #ff9999;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
    display: inline-block;
    text-align: center;
  }

</style>

<script>
  var q_no = 0;

  $( document ).ready(function() {
    console.log("Chat specific ready 2!!");

    $("html, body").scrollTop(0);

    let viewHeight = $(window).height();
    let viewWidth = $(window).width();

    if (isMobile) {
      $("#bot-message-1").height(viewHeight*0.5);
      $("#instructions").css({"margin-bottom":"0px"});
    } else {
      $("#bot-message-1").height("100%");
    }

    

    if (dialogue == null) {
      console.log("LOADING SURVEY....{{ condition_id }}");
      loadSurvey("{{ condition_id }}", processLoadedSurvey);
      //loadSurvey("rc_4_conv.json", processLoadedSurvey);
      //loadSurvey("Harbor_new_conv.json", processLoadedSurvey);
      //loadSurvey("TPB_survey_conv.json", processLoadedSurvey);
    } else {
      console.log("SURVEY ALREADY LOADED....");
      processLoadedSurvey();
    }
    
  });

  function processLoadedSurvey() {
    console.log("Processing loaded survey - dialogue length:"+dialogue.length);

    botui1 = new BotUI('bot-message-1');
    for (let i=0; i<dialogue.length; i++) {
      console.log("At dialogue item:"+i);
      if ((dialogue[i]['type']!='Skip') && (dialogue[i]['type']!='End') && !('answer' in dialogue[i])) {
        console.log("Dialogue question:"+dialogue[i]['text'])
        let ans_text = "write in";
        let ans_value = "write in";

        if (dialogue[i].type == "Yes/No") {
          ans_text = choose(['Yes','No']);
          ans_value = ans_text;
        } else if (dialogue[i].type == "Options") {
          let opt_pick = choose(dialogue[i].options)
          ans_value = opt_pick['value'];
          ans_text = opt_pick['text'];
        }

        dialogue[i].answer_value = ans_value;
        dialogue[i].answer = ans_text;
      }
    }

    console.log("Render exerpt!");

    renderDialogueExerpt(0, dialogue.length+50, botui1);
  }

  // After conversation is loaded, do the additions
  function initConvAdditions() {
    loadDesignQuestionPart(q_no);
  }

  function addCheckboxes(utterance_class) {
    // Add checkboxes
    var nn = 0;
    console.log("Adding checkboxes for "+utterance_class);

    $('.botui-message.'+utterance_class).map(function() {
        var oldInnerHTML = this.innerHTML

        if (!this.innerHTML.includes("input")) {
          this.innerHTML = "<div style='border: 0px solid red'>"+          
            "<span class='custom-control custom-checkbox' style='display:inline'>"+
              "<input class='custom-control-input' type='checkbox' id='check_"+nn+"' onclick=\"saveAnswer('d','"+nn+"');\">"+
              "<label class='custom-control-label' for='check_"+nn+"'>&nbsp;</label>"+
            "</span>"+oldInnerHTML+"</div>";
          nn++;
          console.log("Adding check: "+nn);
        }
    })
  };

  function removeCheckboxes() {
    console.log("Removing checkboxes...");

    $('.botui-message').map(function() {
        var oldInnerHTML = this.innerHTML

        if (this.innerHTML.includes("input")) {
          var chil = this.childNodes;
          console.log(chil[0].childNodes[1]);
          this.innerHTML = chil[0].childNodes[1].outerHTML;
          
          //console.log("Found existing check:"+this.innerHTML);
        }
    })
  }

  function showAdditionalFeedback(utterance_class) {
    console.log("Show additional feedback...");

    $('#additionalFeedback').show();
    // Add new checkboxes
    /*utterance_class.forEach(function (item, index) {
      addCheckboxes(item);
    });*/
  }

  function getNumUtterances(utterance_class) {
    let totalNum = 0;

    if (utterance_class) {
      utterance_class.forEach(function (item, index) {
        let numElem = $("."+item).map(function() {
          return this.innerHTML;
        }).get();

        totalNum += numElem.length;
      });
    }

    return totalNum;
  }

  function highlightUtterances(utterance_class) {
    console.log("Highlight "+utterance_class);

    // remove highlights from all the other ones
    $('.botui-message-content.text').css({backgroundColor:"#ebebeb"});
    $('.human.botui-message-content.text').css({backgroundColor:"#919292"});
    
    // add highlight to the new ones
    if (utterance_class) {
      utterance_class.forEach(function (item, index) {
        $('.botui-message-content.text.'+item).css({backgroundColor:"#ff9999"});
      });
    }
  }

  // adds unique ID to message element as it is created
  function addID(utterance_class) {
    var elems = document.getElementsByClassName('botui-message');
    var i = elems.length - 1;
    var message = document.getElementsByClassName('botui-message')[i];
    message.id = "message_" + i;
    message.classList.add(utterance_class);

    var c = message.childNodes;
    for (var n=0; n<c.length; n++) {
      if (c[n].classList) {
        c[n].classList.add(utterance_class);
      }
    }
  }

  function renderDialogueExerpt(start, depth, botui) {
    console.log("Rendering dialogue exerpt at pos:"+start);
    renderTurn(start, 'question', depth, botui);

  };

  function getDialogueProgressSteps(givenPosition, latest_answer) {
    let addSteps = 1
    
    //Does the response have jump conditions
    if ("jumpConditions" in dialogue[givenPosition]) {
      //Check if we have this answer option, if not that is programmers error!
      if (latest_answer in dialogue[givenPosition]["jumpConditions"]) {
        addSteps = parseInt(dialogue[givenPosition]["jumpConditions"][latest_answer]["steps"]) || 1;
      } else {
        if ("all" in dialogue[givenPosition]["jumpConditions"]) {
          addSteps = parseInt(dialogue[givenPosition]["jumpConditions"]["all"]["steps"]) || 1;
        } else {
          //No jump for this answer option, progress at a normal pace
          addSteps = 1;
        }
      } 
    } else { // No jump conditions
      addSteps = 1;
    }

    return addSteps;
  }

  function renderTurn(pos, type, depth, botui) {
    if (depth == 0 || pos>=dialogue.length) {
      console.log("Stopped!");
      initConvAdditions();   
    } else {
      console.log("Pos:"+pos+", Depth:"+depth);

      // Question
      if (type == 'question') {
        console.log("Question:"+dialogue[pos].text)
        
        botui.message.add({
          content: dialogue[pos].text
        }).then(function (index) {
          console.log("CHAT index:"+index) 
          let augment_type = dialogue[pos]['augment_type'];
          console.log("Augment type:"+augment_type);
          
          addID(augment_type);
          if ('answer' in dialogue[pos] && dialogue[pos].answer != null) {
            renderTurn(pos, 'answer', --depth, botui);
          } else {
            renderTurn(++pos, 'question', --depth, botui);
          }
        });
      // Answer
      } else if (type == 'answer') {
        console.log("Answer:"+dialogue[pos].answer)
        
        botui.message.add({
          delay: 0,
          human: true,
          content: dialogue[pos].answer
        }).then(function(index) {
          console.log("CHAT index:"+index) 
          addID("user_answer");
          if ('reactions' in dialogue[pos] && dialogue[pos].answer_value in dialogue[pos].reactions) {
            renderTurn(pos, 'reaction', --depth, botui);
          } else {
            // get jump
            let addStep = getDialogueProgressSteps(pos, dialogue[pos].answer_value)
            console.log("ADD STEPS IN ANSWER:"+addStep);
            renderTurn(pos+addStep, 'question', --depth, botui);
          }
        });
      // Reaction
      } else if (type == 'reaction') {
        console.log("Reaction:"+dialogue[pos].reactions[dialogue[pos].answer_value])

        botui.message.add({
          content: dialogue[pos].reactions[dialogue[pos].answer_value]['text']
        }).then(function (index) { 
          console.log("CHAT index:"+index)
          let augment_type = dialogue[pos].reactions[dialogue[pos].answer_value]['augment_type'];
          console.log("Reaction type:"+augment_type);
          addID(augment_type);
          if (pos+1 < dialogue.length) {
            // get jump
            let addStep = getDialogueProgressSteps(pos, dialogue[pos].answer_value)
            console.log("ADD STEPS IN REACTION:"+addStep);
            renderTurn(pos+addStep, 'question', --depth, botui);
          }
        });
      }
    }
  }

  function nextQuestionPart() {
    console.log("Requesting next question part...");

    if (validateForm() == true) {
      q_no += 1;

      while (loadDesignQuestionPart(q_no) == false) {
        q_no += 1;
      }
    }
  }

  function loadDesignQuestionPart(q_no) {
    questions = ["reactions to your answers",
                 "progress communication phrases",
                 "opening & closing", 
                 "phrasing of questions"]

    highlight_part = [ ["reaction_positive","reaction_negative","reaction_neutral"], 
                      ["survey_progress"],
                      ["opening", "closing"],
                      ["question_rephrazing"]
                    ]

    // Get all text areas and save the answers
    $(function(){
      $("textarea").each(function(){
        console.log("Saving text area answer:"+this.id+", ans:"+this.value);
        saveAnswer(this.id, this.value);
      });
    });

    q_desc = "Empty";
    if ((q_no >= 0) && (q_no < questions.length)) {
      q_desc = questions[q_no];

      let numH = getNumUtterances(highlight_part[q_no]);
      console.log("H part:<"+highlight_part[q_no]+"> -> "+numH);

      if (numH == 0) {
        return false;
      }

      // highlight specific parts of the conversation
      highlightUtterances(highlight_part[q_no]);

      // add checkboxes to specific parts of the conversation
      //addCheckboxes(highlight_part[q_no]);

      $('#question-part').load('/question_part?q_no='+(q_no+1)+'&total_q_no='+questions.length+'&h_part='+highlight_part[q_no]+'&q_final=0', { 'q_desc': q_desc });

      // Remove old checkboxes
      removeCheckboxes();

      //$('#additionalFeedback').hide();
      inValidateForm();

    } else if (q_no == questions.length) {
      $('#question-part').load('/question_part?q_no='+(q_no+1)+'&total_q_no='+questions.length+'&h_part='+highlight_part[q_no]+'&q_final=1', { 'q_desc': q_desc });
      inValidateForm();
      removeCheckboxes();
      highlightUtterances("none");

    } else {
      /*$('#question-part').map(function() {
        this.innerHTML = "<p class='lead'>Please click <b>\"Continue\"</b> below.</p>";
      });*/
      nextPage();
    }

    return true;
  }


</script>

<main role="main" class="container" id="content" >
  <div class="py-2 text-center">
    <h2>Page {{ page_no }} - Feedback on Design Elements</h2>
    <p id="instructions">This is a log of your interaction. 
      You can scroll through it to see the full exchange. 
      Please answer the questions referencing it.</p>
  </div>

  <form action="/submit_form" class="needs-validation" novalidate>
    <!-- Conversation sample 1 -->
    <div class='row'>
      <div class="col-md-6">
        <div class="botui-app-container text-left" id="bot-message-1" style="border: 0px solid red; overflow:auto" >
          <bot-ui></bot-ui>
        </div>      
      </div>
      <div class="col-md-6">
        <div id='question-part'></div>
      </div>
    </div>

    <!--Submit button-->
    <!-- Direct edit: https://jsfiddle.net/n4ky3Lzs/ -->
    <!-- http://jsfiddle.net/D4gM7/ -->
    <!-- https://jsbin.com/fukuq/1/edit?html,css,output -->
    <!--<button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>-->
  </form>
</main>

<script>
  $("bot-message-1").height(300);

</script>

